<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.Name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campaign.Description %>
</p>

<p>
  <strong>Outbound:</strong>
  <%= @campaign.Outbound %>
</p>

<p>
  <strong>Number:</strong>
  <%= @campaign.Number %>
</p>

<p>
  <strong>Import:</strong>
  <%= @campaign.Import %>
</p>

<p>
  <strong>Blocklists:</strong>
  <%= @campaign.Blocklists %>
</p>

<p>
  <strong>Add:</strong>
  <%= @campaign.Add %>
</p>

<p>
  <strong>To:</strong>
  <%= @campaign.to %>
</p>

<p>
  <strong>Blocklist:</strong>
  <%= @campaign.Blocklist %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @campaign.Delivery %>
</p>

<p>
  <strong>Messages:</strong>
  <%= @campaign.Messages %>
</p>

<p>
  <strong>Confirm:</strong>
  <%= @campaign.Confirm %>
</p>

<p>
  <strong>Confirm:</strong>
  <%= @campaign.Confirm %>
</p>

<p>
  <strong>Api:</strong>
  <%= @campaign.API %>
</p>

<p>
  <strong>Url:</strong>
  <%= @campaign.URL %>
</p>

<p>
  <strong>Unsubscribe:</strong>
  <%= @campaign.Unsubscribe %>
</p>

<p>
  <strong>Blocklist:</strong>
  <%= @campaign.Blocklist %>
</p>

<p>
  <strong>Api:</strong>
  <%= @campaign.API %>
</p>

<p>
  <strong>Url:</strong>
  <%= @campaign.URL %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
